/**
 * LouisCasale - Twenty Seventeen
 * Header CSS
 */

.navigation {
	position: fixed;
	height: 100%;
}

@media only screen and ( max-width: 768px ) {
	.navigation {
		position: relative;
		margin: 0 0 40px 0;
	}
}

.navigation a {
	color: #333;
	transition: 0.2s color ease-in-out;
}

.navigation a:hover {
	color: #858585;
}

.navigation h1 {
	font-weight: 200;
	letter-spacing: 5px;
	margin: 0 0 40px 0;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.navigation h1 {
		font-size: 24px;
	}
}

@media only screen and ( max-width: 768px ) {
	.navigation h1 {
		text-align: center;
	}
}

.navigation ul {
	padding: 0;
	list-style: none;
}

@media only screen and ( max-width: 768px ) {
	.navigation ul {
		text-align: center;
	}
}

.navigation ul li {
	margin: 20px 0;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.navigation ul li {
		margin: 15px 0;
	}
}

.navigation ul li a {
	font-weight: 300;
	font-size: 16px;
}

.navigation ul li hr {
	margin: 5px 0;
}

.navigation .btn-group .btn {
	border: none;
	font-weight: 300;
	font-size: 16px;
	padding: 0;
}

.navigation .btn-group .btn:hover,
.navigation .btn-group .btn:active,
.navigation .btn-group .btn:focus,
.navigation .btn-group .btn:active:focus,
.navigation .open > .dropdown-toggle.btn-default,
.navigation .btn-group.open .dropdown-toggle {
	outline: none;
	box-shadow: none;
	background: none;
}

.navigation .btn-group i {
	margin-left: 5px;
}

.navigation .dropdown-menu {
	padding: 10px 20px;
	min-width: 180px;
}

@media only screen and ( max-width: 768px ) {
	.navigation .dropdown-menu {
		left: -45px;
	}
}

@media only screen and ( max-width: 768px ) {
	.navigation .social {
		text-align: center;
	}
}

.navigation .social a:nth-child(2) {
	margin: 0 8px;
}

.navigation .social i {
	font-size: 24px;
	opacity: 0.75;
	transition: 0.3s opacity ease-in-out;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.navigation .social i {
		font-size: 20px;
	}
}

.navigation .social i:hover {
	opacity: 1;
}
