/**
 * LouisCasale - Twenty Seventeen
 * Header CSS
 */

.navigation {
	position: fixed;
	height: 100%;
}

@media only screen and ( max-width: 768px ) {
	.navigation {
		position: relative;
		margin: 0 0 40px 0;
	}
}

.navigation a {
	color: #333;
	transition: 0.2s color ease-in-out;
}

.navigation a:hover {
	color: #858585;
}

.navigation h1 {
	font-weight: 200;
	letter-spacing: 5px;
	margin: 0 0 40px 0;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.navigation h1 {
		font-size: 24px;
	}
}

@media only screen and ( max-width: 768px ) {
	.navigation h1 {
		text-align: center;
	}
}

.navigation ul {
	padding: 0;
	list-style: none;
}

@media only screen and ( max-width: 768px ) {
	.navigation ul {
		text-align: center;
	}
}

.navigation ul li {
	/*margin: 20px 0;*/
	margin: 0 0 20px;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.navigation ul li {
		margin: 15px 0;
	}
}

.navigation ul li a {
	font-weight: 300;
	font-size: 16px;
}

.navigation .galleries,
.navigation .contact {
	height: 0px;
	opacity: 0;
	visibility: hidden;
	transition: 0.05s height ease-in-out, 0.05s opacity ease-in-out, 0.05s visibility ease-in-out;
}

.navigation .galleries.display {
	height: 88px;
}

.navigation .contact.display {
	height: 40px;
}

.navigation .galleries.display,
.navigation .contact.display {
	opacity: 1;
	visibility: visible;
	margin: 0 0 20px;
}

.navigation .galleries li,
.navigation .contact li {
	margin: 0 0 0 10px;;
}

@media only screen and ( max-width: 768px ) {
	.navigation .social {
		text-align: center;
	}
}

.navigation .social a:nth-child(2) {
	margin: 0 8px;
}

.navigation .social i {
	font-size: 24px;
	opacity: 0.75;
	transition: 0.3s opacity ease-in-out;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.navigation .social i {
		font-size: 20px;
	}
}

.navigation .social i:hover {
	opacity: 1;
}
