
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,600,600i');

body {
	font-family: Montserrat, 'sans-serif';
	color: #333;
}

a {
	font-weight: 300;
	font-size: 16px;
}

a,
a:focus,
a:hover,
a:active,
a:active:focus {
	text-decoration: none;
	color: #333;
}

.container {
	padding: 20px 0;
}

.navigation {
	position: fixed;
	height: 100%;
}

.navigation h1 {
	font-weight: 200;
	letter-spacing: 5px;
	margin: 0 0 40px 0;
}

.navigation ul {
	padding: 0;
	list-style: none;
}

.navigation ul li {
	margin: 20px 0;
}

.navigation a:hover {
	text-decoration: underline;
}
