
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,600,600i');

/*--- Core Components ---*/
body {
	font-family: Montserrat, 'sans-serif';
	color: #333;
}

a:hover,
a:focus,
a:active,
a:active:focus {
	text-decoration: none;
	transition: 0.3s color ease-in-out;
}

a:hover {
	color: #858585;
}

div > h2 {
	font-family: Montserrat, 'sans-serif';
	font-weight: 300;
	font-size: 20px;
	margin: 0;
}

/*--- Wrapper Class ---*/
.container {
	/*padding: 40px 0;*/
	padding: 40px 0 0 0;
}

/*--- Navigation ---*/
.navigation {
	position: fixed;
	height: 100%;
}

.navigation a {
	color: #333;
	transition: 0.2s color ease-in-out;
}

.navigation a:hover {
	color: #858585;
}

.navigation h1 {
	font-weight: 200;
	letter-spacing: 5px;
	margin: 0 0 40px 0;
}

.navigation ul {
	padding: 0;
	list-style: none;
}

.navigation ul li {
	margin: 20px 0;
}

.navigation ul li a {
	font-weight: 300;
	font-size: 16px;
}

.navigation .social a:nth-child(2) {
	margin: 0 8px;
}

.navigation .social i {
	font-size: 24px;
	opacity: 0.75;
	transition: 0.3s opacity ease-in-out;
}

.navigation .social i:hover {
	opacity: 1;
}

/*--- Make padding orthogonal excluding the carousel ---*/
.content > div:not(.carousel) {
	padding: 40px 0;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}

.content a {
	font-weight: 400;
	font-size: 16px;
	color: #858585;
	transition: 0.3s color ease-in-out;
}

.content a:hover {
	color: #333;
}

/*--- Carousel ---*/
.carousel figure {
	padding-bottom: 10%;
	position: relative;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.slick-initialized figure {
	opacity: 1;
}

.carousel figure div {
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*--- About Excerpt ---*/
.about-excerpt p {
	font-family: Montserrat, 'sans-serif';
	font-size: 14px;
	line-height: 1.8;
	word-break: break-word;
	hyphens: auto;
}

.inline-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inline-navigation h2 {
	display: flex;
	text-transform: uppercase;
	margin: 0;
}

.inline-navigation a {
	color: #333;
	font-size: 20px;
	font-family: Montserrat, 'sans-serif';
	font-weight: 300;
	transition: 0.2s color ease-in-out;
}

.inline-navigation a:hover {
	text-decoration: none;
	color: #858585;
}

.vertical-line {
	border-left: 1px solid #ccc;
	height: 20px;
}

.recent-photographs .carousel {
	margin: 40px 0;
}

/*--- Give space between carousel items ---*/
.recent-photographs .slick-slide {
	margin: 0 10px;
}

/*--- Give space between carousel items ---*/
.recent-photographs .slick-list {
	margin: 0 -10px;
}

a.pull-right {
	/*font-weight: 400;
	font-size: 16px;
	color: #858585;*/
}

/*--- Blog ---*/
.latest-posts .row {
	margin: 40px 0;
}

.latest-posts .blog-post:first-child {
	padding: 0 20px 0 0;
}

.latest-posts .blog-post:last-child {
	padding: 0 0 0 20px;
}

.latest-posts .blog-post h4 {
	font-size: 22px;
	margin: 0;
}

.latest-posts .blog-post span {
	font-style: italic;
}

.latest-posts .blog-post p {
	word-break: break-word;
	hyphens: auto;
	margin: 10px 0 0 0;
	line-height: 1.8;
}

.copyright {
	padding: 40px 0;
	text-align: center;
}
