
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,600,600i');

/*--- Core Components ---*/
body {
	font-family: Montserrat, 'sans-serif';
	color: #333;
}

a:hover,
a:focus,
a:active,
a:active:focus {
	text-decoration: none;
	transition: 0.3s color ease-in-out;
}

a:hover {
	color: #858585;
}

.home div > h2 {
	font-family: Montserrat, 'sans-serif';
	font-weight: 300;
	font-size: 20px;
}

/*--- Helpers ---*/
a.align-right {
	float: right;
}

@media only screen and ( max-width: 768px ) {
	a.align-right {
		float: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/*--- Wrapper Class ---*/
.container {
	padding: 40px 0 0 0;
}

/*--- Navigation ---*/
.navigation {
	position: fixed;
	height: 100%;
}

@media only screen and ( max-width: 768px ) {
	.navigation {
		position: relative;
		margin: 0 0 40px 0;
	}
}

.navigation a {
	color: #333;
	transition: 0.2s color ease-in-out;
}

.navigation a:hover {
	color: #858585;
}

.navigation h1 {
	font-weight: 200;
	letter-spacing: 5px;
	margin: 0 0 40px 0;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.navigation h1 {
		font-size: 24px;
	}
}

@media only screen and ( max-width: 768px ) {
	.navigation h1 {
		text-align: center;
	}
}

.navigation ul {
	padding: 0;
	list-style: none;
}

@media only screen and ( max-width: 768px ) {
	.navigation ul {
		text-align: center;
	}
}

.navigation ul li {
	margin: 20px 0;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.navigation ul li {
		margin: 15px 0;
	}
}

.navigation ul li a {
	font-weight: 300;
	font-size: 16px;
}

.navigation ul li hr {
	margin: 5px 0;
}

.navigation .btn-group .btn {
	border: none;
	font-weight: 300;
	font-size: 16px;
	padding: 0;
}

.navigation .btn-group .btn:hover,
.navigation .btn-group .btn:active,
.navigation .btn-group .btn:focus,
.navigation .btn-group .btn:active:focus,
.navigation .open > .dropdown-toggle.btn-default,
.navigation .btn-group.open .dropdown-toggle {
	outline: none;
	box-shadow: none;
	background: none;
}

.navigation .btn-group i {
	margin-left: 5px;
}

.navigation .dropdown-menu {
	padding: 10px 20px;
	min-width: 180px;
}

@media only screen and ( max-width: 768px ) {
	.navigation .dropdown-menu {
		left: -45px;
	}
}

@media only screen and ( max-width: 768px ) {
	.navigation .social {
		text-align: center;
	}
}

.navigation .social a:nth-child(2) {
	margin: 0 8px;
}

.navigation .social i {
	font-size: 24px;
	opacity: 0.75;
	transition: 0.3s opacity ease-in-out;
}

@media only screen and ( max-width: 991px ) and ( min-width: 768px ) {
	.navigation .social i {
		font-size: 20px;
	}
}

.navigation .social i:hover {
	opacity: 1;
}

.content > div {
	overflow: hidden;
}

.content a {
	color: #858585;
	transition: 0.3s color ease-in-out;
}

.content a:hover {
	color: #333;
}

/*--- Carousel ---*/
.carousel .slick-slide:focus,
.carousel .slick-slide:focus:active {
	outline: none;
}

.carousel figure {
	padding-bottom: 56.25%;
	position: relative;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.slick-initialized figure {
	opacity: 1;
}

figure div {
	background-position: center;
	background-size: contain;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/*--- About excerpt ---*/
.about-excerpt {
	padding: 40px 0;
}

.about-excerpt p {
	font-family: Montserrat, 'sans-serif';
	font-size: 14px;
	line-height: 1.8;
	word-break: break-word;
	hyphens: auto;
}

.about-excerpt p:last-child {
	margin-bottom: 0;
}

/*--- Inline navigation panel ---*/
.inline-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 40px 20px;
}

@media only screen and ( max-width: 991px ) {
	.inline-navigation {
		flex-direction: column;
	}
}

.inline-navigation h2 {
	display: flex;
	text-transform: uppercase;
	margin: 0;
}

@media only screen and ( max-width: 991px ) {
	.inline-navigation h2 {
		margin: 10px 0;
	}
}

.inline-navigation a {
	color: #333;
	font-size: 20px;
	font-family: Montserrat, 'sans-serif';
	font-weight: 300;
	transition: 0.2s color ease-in-out;
}

.inline-navigation a:hover {
	text-decoration: none;
	color: #858585;
}

.vertical-line {
	border-left: 1px solid #ccc;
	height: 20px;
}

@media only screen and ( max-width: 991px ) {
	.vertical-line {
		display: none;
	}
}

/*--- Recent photographs section ---*/
.recent-photographs {
	border-bottom: 1px solid #ccc;
	padding: 40px 0;
}

.recent-photographs h2 {
	margin: 0;
}

.recent-photographs .row {
	margin: 40px 0;
}

@media only screen and ( min-width: 992px ) {
	.recent-photographs .recent-item:first-child {
		padding: 0 20px 0 0;
	}

	.recent-photographs .recent-item:last-child {
		padding: 0 0 0 20px;
	}
}

@media only screen and ( max-width: 991px ) {
	.recent-photographs .recent-item {
		padding: 0;
	}

	.recent-photographs .recent-item:first-child {
		margin: 0 0 40px 0;
	}
}

.recent-photographs h5 {
	text-align: center;
}

/*--- Blog ---*/
.latest-posts {
	padding: 40px 0;
}

.latest-posts h2 {
	margin: 0;
}

.latest-posts .row {
	margin: 40px 0;
}

@media only screen and ( min-width: 992px ) {
	.latest-posts .blog-post:first-child {
		padding: 0 20px 0 0;
	}

	.latest-posts .blog-post:last-child {
		padding: 0 0 0 20px;
	}
}

@media only screen and ( max-width: 991px ) {
	.latest-posts .blog-post {
		padding: 0;
	}

	.latest-posts .blog-post:first-child {
		margin: 0 0 40px 0;
	}
}

.latest-posts .blog-post h4 {
	margin: 0;
}

.latest-posts .blog-post h4 a {
	font-size: 22px;
	color: #333;
}

.latest-posts .blog-post span {
	font-style: italic;
}

.latest-posts .blog-post p {
	word-break: break-word;
	hyphens: auto;
	margin: 10px 0 0 0;
	line-height: 1.8;
}

.copyright {
	padding: 40px 0;
	text-align: center;
	border-top: 1px solid #ccc;
}

/*--- Archive ---*/
figure.photo {
	padding-bottom: 100%;
	position: relative;
	transition: opacity 0.8s ease-in-out;
}

figure.unloaded {
	opacity: 0;
}

figure.photo div:hover {
	opacity: 0.9;
}

.archive .row {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 20px 0;
}

.archive .row:first-child {
	padding: 0 0 20px 0;
}

.archive .row:last-child {
	border-bottom: none;
}

.archive-item h5 {
	text-align: center;
	transition: opacity 0.8s ease-in-out;
	margin-bottom: 0;
}

.archive-item h5.unloaded {
	opacity: 0;
}

/*--- Blog ---*/
.blog-item {
	padding: 40px 0;
}

.blog-item:first-child {
	padding: 0 0 40px 0;
}

.blog-item:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

.blog-item figure {
	margin-bottom: 20px;
}

.blog-item h1 {
	margin: 0;
}

.blog-item h1 a {
	color: #333;
	font-size: 22px;
	font-family: Montserrat, 'sans-serif';
	font-weight: 300;
	transition: 0.2s color ease-in-out;
}

.blog-item h1 a:hover {
	text-decoration: none;
	color: #858585;
}

.blog-item p {
	margin: 20px 0 0 0;
	word-break: break-word;
	hyphens: auto;
	line-height: 1.8;
}

/*--- Blog sidebar ---*/
.blog .widget-item {
	padding: 40px 0;
	border-bottom: 1px solid #ccc;
}

.blog .widget-item:first-child {
	padding: 0 0 40px 0;
}

.blog .widget-item h2 {
	font-family: Montserrat, 'sans-serif';
	font-weight: 300;
	margin: 0 0 20px 0;
}

.blog .widget-item p {
	word-break: break-word;
	hyphens: auto;
	margin: 10px 0 0 0;
	line-height: 1.8;
}

/*--- Page ---*/
.page p {
	word-break: break-word;
	hyphens: auto;
	margin: 0 0 20px 0;
	line-height: 1.8;
}

.page ul {
	list-style: none;
	padding: 0;
}

.page .about {
	padding-bottom: 20px;
}

.photo-container {
	width: 400px;
	margin: 0 auto 40px;
}

@media only screen and ( max-width: 991px ) {
	.photo-container {
		width: 300px;
	}
}

.photo-container figure {
	padding-bottom: 100%;
}

.photo-container figure div:hover {
	opacity: 1;
}

.page .excerpt {
	margin-bottom: 40px;
}

.page .excerpt p {
	margin: 0;
	text-align: center;
	line-height: 1.2;
	font-weight: 300;
	font-size: 16px;
}

.page .excerpt p:last-child {
	margin-top: 40px;
}

.page .contact {
	padding-bottom: 40px;
}

.page .field-container {
	margin: 20px -15px;
}

.page .field-container label {
	font-weight: 300;
}

.page .field-container input,
.page .field-container textarea {
	background: #fafafa;
	border-radius: 0;
}

.page .field-container textarea {
	min-height: 120px;
}

.page .field-container input:focus,
.page .field-container textarea:focus {
	background: #fff;
}

.page .field-container + button {
	border-radius: 0;
	background: #5890b6;
	border: none;
	opacity: 1;
	transition: 0.2s opacity ease-in-out;
}

.page .field-container + button:hover {
	opacity: 0.9;
}

p.not-set {
	text-align: center;
	padding: 40px 0;
	margin: 0;
}

.paginate {
	font-size: 22px;
	text-align: center;
	border-bottom: none;
}

/* BreadCrumbs */
#breadcrumbs {
	list-style: none;
	margin: 10px 0;
	overflow: hidden;
	padding: 0;
}

.post-type-archive-bird #breadcrumbs {
	padding: 0 15px;
}

#breadcrumbs li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}

#breadcrumbs .separator {
	font-size: 18px;
	font-weight: 100;
	color: #ccc;
}

#swipebox-bottom-bar {
	display: none;
}

.custom-arrow {
	display: none;
	font-size: 50px;
	position: fixed;
	top: 45% !important;
	bottom: 0;
	color: #fff;
	z-index: 100000 !important;
	background-image: none !important;
	background: transparent !important;
}

.custom-arrow.left {
	left: 45px;
}

.custom-arrow.right {
	right: 45px;
}
