/**
 * LouisCasale - Twenty Seventeen
 * Page CSS
 */

.page p {
	word-break: break-word;
	hyphens: auto;
	margin: 0 0 20px 0;
	line-height: 1.8;
}

.page ul {
	list-style: none;
	padding: 0;
}

.photo-container {
	width: 400px;
	margin: 0 auto 40px;
}

@media only screen and ( max-width: 991px ) {
	.photo-container {
		width: 300px;
	}
}

.photo-container figure {
	padding-bottom: 100%;
}

.photo-container figure div:hover {
	opacity: 1;
}
